$nav-width: 326px;
$nav-width-md: 326px;
$header-height: 70px !default;

.side-bar {
  @include mq(lg) {
    width: $nav-width !important;
    min-width: $nav-width !important;
  }
}

.main {
  max-width: 100%;
  @include mq(lg) {
    margin-left: $nav-width;
  }
}

.main-content-wrap {
  max-width: calc($content-width + $nav-width);
  margin: 0 auto;
}